
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.large-header {
	position: relative;
	width: 100%;
	background: black;
	overflow: hidden;
	background-size: cover;
	background-position:center;
	z-index: 10;
	box-shadow:6px -3px 12px 3px rgba(0,0,0,1);
	-webkit-box-shadow:6px -3px 12px 3px rgba(0,0,0,1);
	-moz-box-shadow:6px -3px 12px 3px rgba(0,0,0,1)
}




 .main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 43%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
		font-size: 3em;
}




.main-title .thin {
	font-weight: 200;
}

@media only screen and (max-width : 768px) {
	.demo-4 .main-title,{
		font-size: 300em;
	}
